.react-tabs {

}

.react-tabs__tab-list {

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #757590;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #757590;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #757590;
}

.swap-around-button{
  width: 40px;
  height: 40px;
  border-radius: 4px;
  top: 209px;
  left: 206px;
  position: absolute;
  background-color: #19191c;
  cursor: pointer;
  transition: 0.2s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

}

.swap-around-button:hover{
  background-color: #3636f7;
}

.swap-around-button:active{
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.arrow-icon{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.Rectangle-8 {
  position: relative;
  z-index:-0;
  top: -22px;
  left: 40px;
  width: 452px;
  height: 415px;
  background-color: #252529;
}





.from-input {
  border:none;
  border-color: #19191c;
  background-color:transparent;
  width: 146px;
  position: absolute;
  top: 22px;
  left: 22px;
  font-family: ClashDisplay-Medium;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #dedeef;
}

.from-box {
  width: 388px;
  height: 72px;
  border-radius: 4px;
  background-color: #19191c;
  position: absolute;
  top: 129px;
  left: 32px;
}

.from-text {
  position: absolute;
  top: 109px; left: 40px;
  width: 38px;
  height: 16px;
  font-family: ClashDisplay-Regular;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #757590;
}

.from-token{
  position: absolute;
  top: 20px; left: 244px;
  width: 128px;
  height: 32px;
  background-color: #19191c;
  cursor: pointer;
}

.from-token:hover {
  filter: brightness(120%);
}

.swaple-token-logo{
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.from-token-ticker{
  position: absolute;
  top: 5px; left: 41px;
  color: #dedeef;
  font-family: ClashDisplay-Regular;
  font-size: 20px;
  font-weight: 600;
}

.from-polygon{
  position: absolute;
  top: 13px; left: 113px;
}

.from-token-list{
  position: absolute;
  top: 4px; left: 228px;
  width: 156px;
  height: 208px;
  background-color: #000;
  z-index: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.from-token-list::-webkit-scrollbar{
  width: 0px;
}

.token-list-margin{
  position: relative;
  width: 149px;
  height: 9px;
}

.token-dropdown-item{
  position: relative;
  width: 156px;
  height: 45px;
  background-color: #000;
  cursor: pointer;
}



.token-dropdown-item:hover {
  filter: brightness(120%);
  background-color: #101010;
}

.token-dropdown-item-logo{
  width: 32px;
  height: 32px;
  position: absolute;
  left: 12px;
  top: 7px;
}

.token-dropdown-item-ticker{
  position: absolute;
  top: 12px; left: 53px;
  color: #dedeef;
  font-family: ClashDisplay-Regular;
  font-size: 20px;
  font-weight: 600;
}

.dollar-amount{
  position: absolute;
  top: 46px; left: 24px;
  width: 10px;
  font-family: ClashDisplay-Medium;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a3a3b7;
}


.to-input {
  border:none;
  border-color: #19191c;
  background-color:transparent;
  width: 146px;
  position: absolute;
  top: 16px;
  left: 22px;
  font-family: ClashDisplay-Medium;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #dedeef;
}

.to-box {
  width: 388px;
  height: 72px;
  border-radius: 4px;
  background-color: #19191c;
  position: absolute;
  top: 257px;
  left: 32px;
}

.to-text {
  position: absolute;
  top: 237px; left: 40px;
  width: 38px;
  height: 16px;
  font-family: ClashDisplay-Regular;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #757590;
}


.settings-gear {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.settings-gear:hover {
  filter: brightness(120%);
}

.settings-gear:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

.connect-wallet {
  z-index:-1;
  position:relative;
  width: 452px;
  height: 72px;
  border-radius: 0px 0px 4px 4px;
  top: 415px;
  background-color: #3636f7;
  cursor: pointer;
  transition: 0.2s;
}

.connect-wallet:hover {
  filter: brightness(120%);
}

.connect-wallet:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

*:focus {
  outline: none;
}

.ConnectWalletText {
  width: 184px;
  height: 21px;
  position: absolute;
  top: 50%; left: 46%;
  transform: translate(-50%,-50%);
  font-family: ClashDisplay-Regular;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
}

.connect-wallet-icon{
  position: absolute;
  top: 50%; left: 309px;
  transform: translate(-50%,-50%);
}

.SwapCoinsText {
  position: absolute;
  top: 46px; left: 50%;
  transform: translate(-50%,-50%);
  z-index:-2;
  width: 135px;
  height: 27px;
  font-family: ClashDisplay-Regular;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #dedeef;
  white-space: nowrap;
}

.Liquidity {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 77px;
  height: 18px;
  font-family: ClashDisplay-Medium;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  
}

.Exchange {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 77px;
  height: 18px;
  font-family: ClashDisplay-Medium;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;  
}




.react-tabs__tab {
  outline: none;
  display: inline-block;
  position: relative;
  width: 226px;
  height: 63px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #19191c;
}

.react-tabs__tab--selected {
  outline: none;
  margin: 0;
  padding: 0;
  color: #3333ff;
  display: inline-block;
  position: relative;
  width: 226px;
  height: 63px;
  border-radius: 4px;
  background-color: #252529;
}

.react-tabs__tab--disabled {

}

.react-tabs__tab:focus {

}

.react-tabs__tab:focus:after {

}

.react-tabs__tab-panel {

}

.react-tabs__tab-panel--selected {

}
